@import './transition.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
    @apply min-h-0;
}

.menu.plain-underline {
    & li {
        > :focus,
        :hover {
            @apply !bg-transparent text-primary;
        }

        & * {
            @apply font-medium  !py-2 px-1 rounded-none;
        }
    }
}

.menu.dropdown-content {
    & li {
        > :focus {
            @apply bg-primary text-white;
        }
    }
}

.name-title {
    font-size: 72px;
    background: -webkit-linear-gradient(#eee, #333);
    background-clip: text;
    
    /* -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    /* color: red;
    text-shadow: none !important;
    background-repeat: no-repeat;
    background-image: linear-gradient(90deg,#833ab4 0,#fd1d1d 50%,#c28632 100%) !important */
}
